:root {
  --main-color: #4CAF90;
  --main-active-color: #4CAF90;
  --main-active-flick-color: #4CAF51;
  --main-inactive-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/*---------------------------*/
/*   Navbar                  */
/*---------------------------*/
.topnav {
  overflow: hidden;
  background-color: var(--main-color);
}

.topnav a {
  float: right;
  padding: 14px 16px;
  color: #fff;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*------------------*/
/*   Home page      */
/*------------------*/
.home-grid {
  display: grid;
  padding: 10px;
  
}
.home-grid .product {
  margin: 10px;
  text-align: left;
}

.home-grid .product-image {
  width: 120px;
  height: 120px;
  text-align: center;
  margin-bottom: 5px;
}

.home-grid .product-image img {
  max-width: 100%;
  max-height: 100%;
}

.home-grid .product-bottom {
  text-align: left;
}

/*------------------*/
/*   Product page   */
/*------------------*/
.product-image { grid-area: image; }
.product-info { grid-area: info; }
.product-buy { grid-area: buy; }

.product-grid {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
}

.product-grid .product-image {
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

.product-grid .product-image img {
	max-width: 100%;
	max-height: 100%;
}

.product-grid .product-info {
	margin: 0 auto;
}

.product-grid .product-buy {
	margin: 0 auto;
}

.product-grid .product-buy .product-quantity button {
	background-color: var(--main-active-color);
	color: white;
	font-size: 16px;
    cursor: pointer;
    width: 32px;
    border: none;
}

.product-grid .product-buy .product-quantity button:hover, button:active {
	background-color: var(--main-active-flick-color);
}

.product-grid .product-buy #addToCart {
	background-color: var(--main-active-color); /* Green */
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	border-radius: 10px;
}

.product-grid .product-buy #addToCart:hover, #addToCart:active {
	background-color: var(--main-active-flick-color);
}

/*------------------*/
/*   Order page   	*/
/*------------------*/
.order-grid {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-template-columns: auto auto;
}

.order-grid table, td, th {
  border-bottom: 1px solid;
  text-align: center;
}

.order-grid table, tbody {
	border-bottom: none;
}

.order-grid table, tr:last-child > td {
	border-bottom: none;
}

.order-grid .product-image {
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

.order-grid .product-image img {
	max-width: 100%;
	max-height: 100%;
}

.order-grid .product-info {
	margin: 0 auto;
}

.order-grid .product-price {
	margin: 0 auto;
}

.order-grid .product-quantity {
	margin: 0 auto;
}

/*
.order-grid .product-quantity button {
	background-color: var(--main-active-color);
	color: white;
	font-size: 16px;
    cursor: pointer;
    width: 32px;
    border: none;
}
*/

.order-grid .product-quantity a {
	background-color: var(--main-active-color);
	color: white;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 1px;
	text-align: center;
	text-decoration: none;
}

.order-grid .product-quantity a:hover, a:active {
	background-color: var(--main-active-flick-color);
}


.order-grid .total-price {
	text-align: right;
}


/* Mobile Styles */
@media only screen and (max-width: 425px) {
	.home-grid { grid-template-columns: auto auto; }
	.product-grid { grid-template-areas: 'image buy' 'info info'; }
}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 960px) {
	.home-grid { grid-template-columns: auto auto auto auto auto; }
	.product-grid { grid-template-areas: 'image info buy'; }
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.home-grid { grid-template-columns: auto auto auto auto auto auto auto; }
	.product-grid { grid-template-areas: 'image info buy';}
}

