<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
   	<div th:replace="fragments/header :: header"></div>
	<div class="home-grid">
 		<div class="product" th:each="product: ${products}">
			<div class="product-image">
				<a th:href="@{/{id}(id=${product.id})}"><img th:src="${product.imageUrl}" alt=""></a>
			</div>
			<div class="product-bottom">
				<div th:text="'$' + ${product.price}"></div>
			</div>
		</div>
	</div>
</body>
</html>